spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tradenova?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: tradenova_app
    password: novaLo048679@!#
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate   
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  sql:
    init:
      mode: never

server:
  port: 8080
